<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout::head">
</head>
<body>
	<div th:replace="layout/layout::messages"></div>
	<header th:replace="layout/layout::header"></header>
	<div class="container">
		<h2 th:text="${Titulo}"></h2>
		<a th:href="@{/form}">Crear</a>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Email</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente:${Clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellidos}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.creacion}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!--/*  <footer th:replace="layout/layout::footer"> </footer>*/-->
</body>
</html>